@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 190;
  }
  to {
    stroke-dashoffset: 20;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "LeagueSpartan";
  src: url('assets/fonts/LeagueSpartanVariable.woff2') format('woff2-variations');
  font-weight: 200 900;
}

@font-face {
  font-family: "TTDongwhacaekR";
  src: url("assets/fonts/TTDongwhacaekR.ttf") format("truetype"),
}

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(31, 10, 98) 0%, rgba(110,98,180,1) 75%, rgba(181,177,254,1) 100%);
  overflow-x: hidden;
  font-size: 18px;
}

section {
  padding: 4rem 2rem;
  position: relative;

  @screen sm {
    padding: 7rem 4rem;
  }

  @screen md {
    padding: 7rem 7rem;
  }

  @screen lg {
    padding: 7rem 10rem;
  }
}

h2 {
  font-size: 20px;

  @screen lg {
    font-size: 30px;
  }
}

h2, h3, h4 {
  font-family: "TTDongwhacaekR";
}

.Button {
  background-color: #AE91FF;
  box-sizing: border-box;
  border: 2px solid #AE91FF;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: transparent;
  }
}

.Scroll-down {
  margin-left: 50%;
}

.world--container {
  .world--container__item {
    width: 100%;
    margin: 0 2rem 3rem 2rem;

    &:nth-child(2n) {
      p {
        text-align: right;
        margin-left: 0;
        margin-right: auto;

        @screen sm {
          text-align: center;
          margin: 0;
        }
      }
    }

    @screen lg {
      width: 40%;
    }

    @screen lg {
      width: 25%;
    }

    img {
      margin: 0 auto 40px auto;
    }

    p {
      width: 50%;
      text-align: left;
      font-size: 18px;
      font-weight: 700;
      margin-left: auto;

      @screen sm {
        width: 100%;
        text-align: center;
        margin: 0;
      }
    }
  }
}

.glide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 2rem;

  img {
    border-radius: 9999px;
    margin-bottom: 12px;
  }

  h4 {
    margin: 12px 0;
  }
}

.curved--text {
  fill: white;
}

.curved--text__content {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 12px;
  animation: spin 10s linear infinite reverse;
  transform-origin: center;
}

.translate-x-y-center {
  transform: translateY(-50%) translateX(-50%);
}

.path-border {
  stroke-dasharray: 190;
  stroke-dashoffset: 20;
  animation: dash 0.9s both ease-in-out 1s;
}

.path-point-first {
  opacity: 0;
  animation: opacity 0.3s both ease-in-out 1s;
}

.path-point-second {
  opacity: 0;
  animation: opacity 0.3s both ease-in-out 1.3s;
}

.path-point-third {
  opacity: 0;
  animation: opacity 0.3s both ease-in-out 1.6s;
}

.path-arrow {
  opacity: 0;
  animation: opacity 0.3s both ease-in-out 1.9s;
}
